@model List<EADProjectMVC.Models.Wallet>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateWallet</title>
</head>
<body>
    <div> 
        <div>
            <a class="btn btn-primary pull-left" href="/Admin/AddNewWallet">Add New</a> <br /><br />
            <div class="row">
                @foreach (var s in Model)
                {
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="thumbnail">
                            <img src="~/Images/@s.image" />
                            <hr />
                            <div class="caption">
                                <center>
                                    <div class="row">

                                        <p class="">Size: @s.Size</p><h4 class="">Price: @s.price</h4>
                                    </div>
                                    <div class="row">
                                        <p class="">Company: @s.company</p>
                                        <!--<a href="#" class="btn btn-default" >Hello</a>-->
                                        <a href="/Admin/ShowUpdateWallet/@s.Id" class="btn btn-primary">Update</a>
                                        <a href="/Admin/DeleteWallet/@s.Id" class="btn btn-primary">Delete</a>
                                    </div>
                                </center>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
