@*@model List<EADProjectMVC.Models.Shoe>
@model List<EADProjectMVC.Models.Shirt>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*<h1>id received @ViewBag.x</h1>*@
    <div class="row">
        @foreach(var s in Model)
        { 
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="~/Images/@s.image"  />
                <hr />
                <div class="caption">
                    <center>
                        <div class="row">

                            <p class="">Size: @s.Size</p><h4 class="">Price: @s.price</h4>
                        </div>
                        <div class="row">
                            <p class="">Company: @s.company</p>
                            <!--<a href="#" class="btn btn-default" >Hello</a>-->
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </center>
                
                </div>
            </div>
        </div>  
        }
    </div>
</div>
