@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <hr />
                <p>
                    We feature efficiently with clothes,shoes stationary etc.
                    Unlike many companies we do not hide behind our technology, in fact we actively encourage customers to ring our specially trained sales team for advice on any of our products. In addition to this we offer secure online shopping which is available 24 hours a day. 
                    Our online store pile bargains high and don't have fancy shop fittings so we keep our overheads down and pass on those savings to you. Should something go wrong we pride ourselves in being there for you. If that's not enough, our "price challenge" guarantees you the very best price.
                    We have years of experience and our group companies are Toyota Airport Motors, Toyota Walton Motors, TechDigital, Warid Walton Telecommunications, Telenor Shalimar, Airport Megaplex Cinemas and Walton Distributors.
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div> 


